@model CashFlowModel

<div class="row mb-2" id="row-additional-@Model.Id-@Model.NewId">
    <div class="col-md-3" style="border: 0">
        <input type="number"
               class="form-control"
               placeholder="Amount"
               value="@Model.Amount"
               id="additional-amount-@Model.Id-@Model.NewId" />
    </div>

    <div class="col-md">
        <input type="text"
               class="form-control"
               placeholder="Description"
               value="@Model.Description"
               id="additional-description-@Model.Id-@Model.NewId" />
    </div>

    <div class="col-md-2">
        <button type="button"
                class="btn btn-outline-danger"
                onclick="deleteAdditional(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)).ToString(), 'row-additional-@Model.Id-@Model.NewId');"
                id="btn-delete-@Model.Id">
            Delete
        </button>
    </div>
</div>