@model DayModel

<div class="modal fade" tabindex="1" id="modal-popup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: #007bff">@($"{Model.DayText} - {Model.MonthText}. {Model.Day}")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="formDay">
                    <div class="container">

                        <!-- sale today -->
                        <div class="row">
                            <div class="col-md-3 form-control" style="border: 0; font-weight: 600">
                                Sales today :
                            </div>
                            <div class="col-md-3">
                                <input type="number"
                                       asp-for="Amount"
                                       class="form-control"
                                       onkeypress="onchangeSales()"
                                       onkeyup="onchangeSales()"
                                       placeholder="Amount" />
                            </div>
                        </div>

                        <!-- expenses (-) -->
                        <hr />
                        <div class="row mb-2">
                            <div class="col-md">
                                <span class="form-control" style="border: 0; font-weight: 600">Expenses (-) : 
                                    <span class="btn btn-outline-success" style="float: right; cursor: pointer" onclick="addItem('expenses-container');">Add more</span>
                                </span>                                
                            </div>
                        </div>

                        <span id="expenses-container">
                            @if (Model.Expenses != null)
                            {
                                foreach (var expense in Model.Expenses)
                                {
                                    <partial name="_ExpenseItemView" model="expense" />
                                }
                            }
                        </span>

                        <!-- additonal (+) -->
                        <hr />
                        <div class="row mb-2">
                            <div class="col-md">
                                <span class="form-control" style="border: 0; font-weight: 600">Additional (+) : 
                                    <span class="btn btn-outline-success" style="float: right; cursor: pointer" onclick="addItem('additional-container')">Add more</span>
                                </span>
                            </div>
                        </div>

                        <span id="additional-container">
                            @if (Model.Additionals != null)
                            {
                                foreach (var additional in Model.Additionals)
                                {
                                    <partial name="_AdditionalItemView" model="additional" />
                                }
                            }
                        </span>
                    </div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Year" />
                    <input type="hidden" asp-for="Month" />
                    <input type="hidden" asp-for="Day" />
                    <input type="hidden" asp-for="TransactionTypeId" />
                </form>
            </div>

            <div class="modal-footer">
                <div style="width: 100%">
                    <span style="float: left; font-size: 18px; font-weight: 600; color: #6c757d">
                        Overall : Php
                        <span style="font-size: 20px; color: #007bff" id="total-sales"></span>
                    </span>

                    <span style="float: right">
                        <button type="button" class="btn btn-primary" style="width: 80px; margin-right: 5px" onclick="onclickSave()">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 80px">Cancel</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        expenses = null;
        additionals = null;
        expensesToBeDeleted = null;
        additionalsToBeDeleted = null;

        expenses = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Expenses));
        additionals = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Additionals));
        $('#total-sales').html($('#Amount').val());
    });

    function onclickSave() {
        let isValid = validateForm('formDay');
        if (isValid) {

            let dataList = processDataList();
            submitForm('formDay', '/Home/SaveData', dataList, function (response) {

                if (response.isSuccess) {
                    $('#modal-popup').modal('hide');
                    refreshTable();
                }
            });
        }
    }
</script>